.start {
  max-width: 800px;
}

td, th {
  width: 14vw;
  text-align: center;
}

@media all and (max-width: 800px)  {
  td, th {
    width: 70vw;
    text-align: center;
  }
}

table {
  margin-bottom: 50px;
}

.hasContent {
  border-radius: 4px;
  color: white;
  font-weight: bold;
  border: 1px solid #565656;
  transition-duration: 0.2s;
  cursor: pointer;
}

.hasContent:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
}

.blockDiv {
  position: absolute;
  top: 200px;
  left: 0;
  padding: 5%;
  width: 90%;
  border-radius: 8px;
  background: white;
  padding-top: 50px;
}

.titleDiv {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: -webkit-box;
}

#modalImage {
  width: 100%;
  height: 210px;
  position: absolute;
  top: 0%;
  left: 0%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition-duration: 0.5s;
}

#cube {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-top: 11px;
}

#eventTitle {
  margin: 0;
  margin-left: 10px;
}

#eventDescription {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 40px;
}

.eventInfo {
  font-weight: bold;
  margin-left: 30px;
}

.modal2Desc {
  position: absolute;
  left: 0;
  padding: 5%;
  width: 90%;
  border-radius: 8px;
  background: white;
  padding-top: 5px;
  padding-bottom: 50px;
}

/* Modes */

/* Integração */
.mode0 {
  background-color: #5BB974;
}
/* Palestras de Instâncias da Faculdade */
.mode1 {
  background-color: #F1F3F4;
  color: #434343;
}
/* Atividades recreativas */
.mode2 {
  background-color: #FBBC04;
}
/* Áreas da Química */
.mode3 {
  background-color: #F27405;
}
/* Almoço e Jantar */
.mode4 {
  background-color: #FAD2CF;
  color: #434343;
}
/* Palestras */
.mode5 {
  background-color: #174EA6;
}
/* Empty */
.mode6 {
  visibility: hidden;
}

#body {
  padding-left: 5vw;
  padding-top: 80px;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 100px auto;
  padding: 30px;
  width: 50vw;
  min-height: 30vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  z-index: 100000;
  position: absolute;
  top: 2%;
  left: 2%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Default Style */

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
  padding-left: 3%;
  line-height: 60px;
  position: fixed;
  transition-duration: 0.3s;
  top: 0%;
  left: 0%;
  z-index: 99;
  background-color: white;
}

#header.headerNoShadow {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  background-color: white;
}

.headerImage {
  height: 40px;
  vertical-align: middle;
}

#logo {
  font-weight: bold;
  margin-left: 0.5%
}

.menu {
  color: dimgray;
  margin-left: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.menu:hover {
  color: black;
}

.menuSelected {
  color: black;
  font-weight: 600;
}

#userPhoto {
  border-radius: 100%;
  background-color: gray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  position: fixed;
  right: 2.5%;
  top: 7.5px;
  padding-top: 42px;
  width: 42px;
  cursor: pointer;
  background-image: url('../files/image/unknownUser.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-duration: 0.5s;
}

.popupMenu {
  position: fixed;
  top:70px;
  right: 1%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.28);
  padding: 20px;
  padding-right: 25px;
  min-width: 20vw;
  border-radius: 4px;
  transition-duration: 0.3s;
  z-index: 100;
  background-color: white;
}

.popupTitle {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.popupSubitle {
  color: dimgray;
  font-size: 14px;
}

.popupItem {
  transition-duration: 0.2s;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.popupItem:hover {
  padding-left: 10px;
  text-decoration: underline;
}

.hide {
  display: none;
  position: fixed;
  top: -1000%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

i.menuIcons {
  display: none;
}

#menu, #menuHolder {
  display: inline;
}

@media all and (max-width: 70em) {
  .podiumImage {
    width: 30vh;
    height: 30vh;
  }
  .podium {
    margin-top: 5vh;
  }
}

/* Mobile adjustments */

@media all and (max-width: 50em) {
  #menu {
    background-color: white;
    width: 60vw;
    height: 100vh;
    max-width: 16em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
    display: block;
    padding-left: 3vw;
    padding-top: 30px;
    position: absolute;
    left: -65vw;
    top: 0%;
    transition-duration: 0.3s;
  }
  #menu.show {
    left: 0%;
  }
  .menu {
    display: block;
  }
  #menuHolder {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -101;
    transition-duration: 0.3s;
    visibility: hidden;
  }
  #menuHolder.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    visibility: visible;
  }
  i.menuIcons {
    display: inline-block;
  }
  p, li {
    max-width: 90vw;
  }
  .modal-content {
    margin: 0;
    padding: 5vw;
    width: 90vw;
    border-radius: 0px;
    z-index: 1000;
    min-height: 100%;
  }
  .modal {
    z-index: 100;
  }
  #modalImage {
    border-radius: 0;
  }
}
