.cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    width: 275px;
    height: 150px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 24px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgba(0, 7, 128, 1) 99.8%);
    color: #fff;
    transition-duration: 200ms;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.28);
    transform: scale(1.05);
}

.card2 {
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 24px;
    background-color: #fff;
    color: black;
    transition-duration: 200ms;
    min-height: 130px;
    width: auto;
}

.card2.disabled {
    background-color: #f5f5f5;
    color: #ccc;
    cursor: default;
}

#addDescricao, #editDescricao {
    width: 100%;
    display: block;
    padding: 12px;
    color: black;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'Muli', sans-serif;
}

.sidePannel {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 1) 0.1%, rgba(0, 7, 128, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 1s;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    right: -110%;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 8px rgba(0, 0, 8px, 0.3);
}

.sidePannelInner {
    color: white;
    margin: 20vh 5vw 12vh 5vw;
    display: flex;
    flex-direction: row;
}

.close {
    background-color: white;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

select {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0px 24px;
    font-size: 16px;
    transition-duration: 200ms;
    outline: none;
    margin-bottom: 4px;
}

select:active {
    border: 1px solid #ccc;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0px 24px;
    font-size: 16px;
    transition-duration: 200ms;
    outline: none;
}

.saveButton {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0px 24px;
    font-size: 16px;
    transition-duration: 200ms;
    outline: none;
    margin-top: 4px;
    cursor: pointer;
    background-color: #fff;
    transition-duration: 0.2s;
}

.saveButton:active {
    border: 1px solid #ccc;
}

.saveButton:hover {
    background-color: #ccc;
}

#addFoto {
    display: none;
}

#addFotoLabel {
    width: 90%;
    height: 100px;
    border-radius: 8px;
    border: none;
    padding: 0px 24px;
    outline: none;
    margin-top: 4px;
    cursor: pointer;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 1) 0.1%, rgba(0, 7, 128, 1) 100%);
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    margin-top: 12px;
    transition-duration: 1s;
}

#activities {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 50vw;
}

.editButton {
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition-duration: 200ms;
}

.editButton:active {
    background-color: #ccc;
}

.activity {
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
    background-color: white;
    padding: 12px 24px;
    color: black;
    margin-bottom: 8px;
    transition-duration: 200ms;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.activity>h3 {
    margin: 0 24px;
}

.activity>img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 12px;
}

.pointsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.28);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 1s;
    margin: 10vh auto;
}

#editFotoLabel {
    width: 90%;
    height: 100px;
    border-radius: 8px;
    border: none;
    padding: 0px 24px;
    outline: none;
    margin-top: 4px;
    cursor: pointer;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 1) 0.1%, rgba(0, 7, 128, 1) 100%);
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    margin-top: 12px;
    transition-duration: 1s;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.checkboxholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0px 24px;
    font-size: 16px;
    transition-duration: 200ms;
    outline: none;
}

input[type=checkbox]>label {
    margin-top: 0px;
}

.toastBox {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    min-width: 100px;
    max-width: 250px;
    animation-name: toast;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Toast animation */

@keyframes toast {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Useful code */
p {
    max-width: 40vw;
    width: fit-content;
    top: 75%;
}

h1 {
    text-align: center;
    top: 65%;
    width: fit-content;
    max-width: 90vw;
}

#body {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    outline: none;
    font-family: 'Muli', sans-serif;
}

/* Default Style */

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.28);
    padding-left: 3%;
    line-height: 60px;
    position: fixed;
    transition-duration: 0.3s;
    top: 0%;
    left: 0%;
    z-index: 99;
    background-color: white;
}

#header.headerNoShadow {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    background-color: rgba(0, 0, 0, 0.0);
}

.headerImage {
    height: 40px;
    vertical-align: middle;
}

#logo {
    font-weight: bold;
    margin-left: 0.5%;
    transition-duration: 1s;
}

.menu {
    color: dimgray;
    margin-left: 2%;
    cursor: pointer;
    text-decoration: none;
}

#menu {
    transition-duration: 1s;
}

.menu:hover {
    color: black;
}

.menuSelected {
    color: black;
    font-weight: 600;
}

#userPhoto {
    border-radius: 100%;
    background-color: gray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    position: fixed;
    right: 2.5%;
    top: 7.5px;
    padding-top: 42px;
    width: 42px;
    cursor: pointer;
    background-image: url('../files/image/unknownUser.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.5s;
}

.popupMenu {
    position: fixed;
    top: 70px;
    right: 1%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.28);
    padding: 20px;
    padding-right: 25px;
    min-width: 20vw;
    border-radius: 4px;
    transition-duration: 0.3s;
    z-index: 100;
    background-color: white;
}

.popupTitle {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}

.popupSubitle {
    color: dimgray;
    font-size: 14px;
}

.popupItem {
    transition-duration: 0.2s;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.popupItem:hover {
    padding-left: 10px;
    text-decoration: underline;
}

.hide {
    display: none;
    position: fixed;
    top: -1000%;
}

/* Schedule */

.hasContent {
    border-radius: 4px;
    color: white;
    font-weight: bold;
    border: 1px solid #565656;
    transition-duration: 0.2s;
    cursor: pointer;
    text-align: center;
}

.hasContent:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
}

/* Modes */

/* Integração */
.mode0 {
    background-color: #5BB974;
}

/* Palestras de Instâncias da Faculdade */
.mode1 {
    background-color: #F1F3F4;
    color: #434343;
}

/* Atividades recreativas */
.mode2 {
    background-color: #FBBC04;
}

/* Áreas da Química */
.mode3 {
    background-color: #F27405;
}

/* Almoço e Jantar */
.mode4 {
    background-color: #FAD2CF;
    color: #434343;
}

/* Palestras */
.mode5 {
    background-color: #174EA6;
}

/* Empty */
.mode6 {
    background-color: #ff4646;
    color: #e0e0e0;
}

.eventInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventInfo select {
    width: auto;
    padding: 0px 8px;
}

#modalImage {
    width: 100%;
    height: 210px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.cube {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
}

#cubes {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    align-items: center;
}

.mode-selected {
    border: 2px solid #565656;
}

.blockDiv {
    position: absolute;
    top: 200px;
    left: 0;
    padding: 60px 5% 5% 5%;
    width: 90%;
    border-radius: 8px;
    background: white;
    padding-top: 50px;
}

/* Modal for schedule */

/* The Modal (background) */
.modalS {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contentS {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 30px;
    width: 50vw;
    min-height: 30vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* The Close Button */
.closeS {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    z-index: 100000;
    position: absolute;
    top: 2%;
    left: 2%;
}

.closeS:hover,
.closeS:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* User management */

#editUserPhoto {
    width: 200px;

}

#userList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition-duration: 0.3s;
}

.userPhoto {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    margin-bottom: 12px;
}

.userName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.usetTeam {
    font-size: 14px;
    color: dimgray;
    font-style: italic;
}

.userBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
    color: black;
    padding: 12px;
    width: 200px;
    overflow: hidden;
    transition-duration: 0.3s;
}

.userBox input {
    margin-top: 8px;
}

/* Material icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

i.menuIcons {
    display: none;
}

#menu, #menuHolder {
    display: inline;
}

/* Mobile adjustments */

@media all and (max-width: 50em) {
    #menu {
        background-color: white;
        width: 60vw;
        height: 100vh;
        max-width: 16em;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
        display: block;
        padding-left: 3vw;
        padding-top: 30px;
        position: absolute;
        left: -65vw;
        top: 0%;
        transition-duration: 0.3s;
    }

    #menu.show {
        left: 0%;
    }

    .menu {
        display: block;
    }

    #menuHolder {
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: -101;
        transition-duration: 0.3s;
        visibility: hidden;
    }

    #menuHolder.shadow {
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 101;
        visibility: visible;
    }

    i.menuIcons {
        display: inline-block;
    }

    p {
        max-width: 90vw;
    }

    h1 {
        font-size: 6.5vw;
    }

    .sidePannelInner {
        width: 86vw;
        grid-template-columns: 1fr;
    }

    #activities {
        max-width: 90vw;
    }

    .userBox {
        width: 100%;
    }
}