/* Useful code */

p {
  margin: 0;
}

.card {
  display: block;
  width: 45vw;
  margin-right: 2vw;
}

.body {
  display: inline-flex;
}

.li {
  width: 40vw;
  padding: 2vw;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  border-radius: 8px;
  background: #1c3295;
  color: white;
  animation-name: display;
  animation-duration: 0.5s;
}

#body {
  padding-left: 5vw;
  padding-top: 100px;
}

/* Default Style */

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
  padding-left: 3%;
  line-height: 60px;
  position: fixed;
  transition-duration: 0.3s;
  top: 0%;
  left: 0%;
  z-index: 99;
  background-color: white;
}

#header.headerNoShadow {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  background-color: white;
}

.headerImage {
  height: 40px;
  vertical-align: middle;
}

#logo {
  font-weight: bold;
  margin-left: 0.5%
}

.menu {
  color: dimgray;
  margin-left: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.menu:hover {
  color: black;
}

.menuSelected {
  color: black;
  font-weight: 600;
}

#userPhoto {
  border-radius: 100%;
  background-color: gray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  position: fixed;
  right: 2.5%;
  top: 7.5px;
  padding-top: 42px;
  width: 42px;
  cursor: pointer;
  background-image: url('../files/image/unknownUser.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-duration: 0.5s;
}

.popupMenu {
  position: fixed;
  top:70px;
  right: 1%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.28);
  padding: 20px;
  padding-right: 25px;
  min-width: 20vw;
  border-radius: 4px;
  transition-duration: 0.3s;
  z-index: 100;
  background-color: white;
}

.popupTitle {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.popupSubitle {
  color: dimgray;
  font-size: 14px;
}

.popupItem {
  transition-duration: 0.2s;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.popupItem:hover {
  padding-left: 10px;
  text-decoration: underline;
}

.hide {
  display: none;
  position: fixed;
  top: -1000%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

i.menuIcons {
  display: none;
}

#menu, #menuHolder {
  display: inline;
}

@media all and (max-width: 70em) {
  .podiumImage {
    width: 30vh;
    height: 30vh;
  }
  .podium {
    margin-top: 5vh;
  }
}

/* Mobile adjustments */

@media all and (max-width: 50em) {
  #menu {
    background-color: white;
    width: 60vw;
    height: 100vh;
    max-width: 16em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
    display: block;
    padding-left: 3vw;
    padding-top: 30px;
    position: absolute;
    left: -65vw;
    top: 0%;
    transition-duration: 0.3s;
  }
  #menu.show {
    left: 0%;
  }
  .menu {
    display: block;
  }
  #menuHolder {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -101;
    transition-duration: 0.3s;
    visibility: hidden;
  }
  #menuHolder.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    visibility: visible;
  }
  i.menuIcons {
    display: inline-block;
  }
  p, li {
    max-width: 90vw;
  }
}
