/* File Input */

#inputfile, #inputFile2 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	filter: opacity(0);
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#inputfile + label, #inputFile2 + label {
    display: inline-block;
    cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

#header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
  padding-left: 3%;
  line-height: 60px;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 99;
}

#body {
  margin-left: 5vw;
  margin-top: 20px;
}

.bodyItem {
  display: inline-block;
  vertical-align: top;
  margin-right: 3vw;
  max-width: 40vw;
}

#scrollDiv {
	height: 60vh;
	overflow-y: scroll;
	transition-duration: 0.5s;
}

table {
  width: 37vw;
  text-align: left;
  display: block;
  padding: 2px;
  transition-duration: 0.5s;
}

td {
  padding: 8px;
}

tr {
  border-radius: 4px;
  transition-duration: 0.1s;
  cursor: pointer;
}

tr:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

tr.noShadow:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

tr.selected {
  box-shadow: 0px 0px 0px 1px rgb(12, 128, 36);
}

#insertPicture {
  width: 32vw;
  height: 18vw;
  background-color: #ffecb3;
  background-size: cover;
  background-position: center;
  margin-left: 3%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  cursor: pointer;
  color: chocolate;
}

#insertPicture:hover, #insertSmallPicture:hover {
  filter: opacity(0.8);
	opacity: 80%;
  cursor: pointer;
}

#insertSmallPicture, .smallPicture {
  width: 10vw;
  height: 10vw;
  background-color: #ffecb3;
  background-size: cover;
  background-position: center;
  margin-right: 1vw;
  margin-bottom: 1vw;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  color: chocolate;
  display: inline-block;
  vertical-align: top;
}

#camera {
  font-size: 6vw;
}

#camera2 {
  font-size: 3vw;
}

#addText2 {
  font-size: 10;
}

#cameraDiv, #cameraDiv2 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  text-align: center;
}

#cameraDiv.afterUpload {
  filter: opacity(0);
	opacity: 0;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
  transition-duration: 0.2s;
}

#cameraDiv.afterUpload:hover {
  filter: opacity(1);
	opacity: 1;
}

.closeSmallPic {
  float: right;
  margin-right: 8px;
  margin-top: 8px;
  height: 1vw;
  width: 2vw;
  text-align: center;
  padding-bottom: 1vw;
  line-height: 1.9vw;
  font-size: 2vw;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.28);
  color: white;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.waitingToChoose {
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  min-width: 40vw;
}

#errorMessage {
  color: red;
  font-size: 1vw;
  vertical-align: middle;
  transition-duration: 0.2s;
  float: right;
  line-height: 4vw;
  margin-right: 1vw;
}

#errorMessage.hide {
  filter: opacity(0);
	opacity: 0;
  display: inherit;
}

#warningButton {
	color: white;
	background: gray;
	border-radius: 50%;
	width: fit-content;
	padding: 6px;
	float: right;
	cursor: pointer;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.points {
  color: green;
  font-weight: bold;
  text-align: center;
}

#noUser, #noTeam, #loading, #noVer  {
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  transition-duration: 0.2s;
}

.infoTXT {
  font-size: 12px;
}

.headerImage {
  height: 40px;
  vertical-align: middle;
}

#logo {
  font-weight: bold;
  margin-left: 0.5%
}

.menu {
  color: dimgray;
  margin-left: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.menu:hover {
  color: black;
}

.menuSelected {
  color: black;
  font-weight: 600;
}

#userPhoto {
  border-radius: 100%;
  background-color: gray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  position: fixed;
  right: 2.5%;
  top: 7.5px;
  padding-top: 42px;
  width: 42px;
  cursor: pointer;
  background-image: url('../files/image/unknownUser.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-duration: 0.5s;
}

.popupMenu {
  position: fixed;
  top:70px;
  right: 1%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.28);
  padding: 20px;
  padding-right: 25px;
  min-width: 20vw;
  border-radius: 4px;
  transition-duration: 0.3s;
  z-index: 100;
  background-color: white;
}

.popupTitle {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.popupSubitle {
  color: dimgray;
  font-size: 14px;
}

.popupItem {
  transition-duration: 0.2s;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.popupItem:hover {
  padding-left: 10px;
  text-decoration: underline;
}

.hide {
  display: none;
  position: fixed;
  top: -1000%;
}

.hidden, #noUser.hidden, #noTeam.hidden, #loading.hidden, #body.hidden, #noVer.hidden {
  visibility: hidden;
  filter: opacity(0%);
	opacity: 0;
  height: 0%;
  margin-top: 0%;
}

h1 {
  transition-duration: .2s;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 100 auto;
  padding: 30px;
  width: 50vw;
  min-height: 30vh;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Progress Bar */

#progressbar {
  background-color: orange;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
  margin-top: 12px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.18);
}

#progressbar>div {
  background-color: white;
  width: 40%;
  /* Adjust with JavaScript */
  height: 2vw;
  border-radius: 10px;
  transition-duration: 0.2s;
}

#progressInd {
  font-size: 1.4vw;
  width: 100%;
  text-align: center;
  float: left;
  line-height: 2vw;
  color: black;
  font-weight: bold;
}

/* Buttons */

a.button3{
  display:inline-block;
  padding:0.3em 1.0em;
  margin:0.5em 0.25em 0.25em 0;
  border-radius:3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:orange;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 1.5vw;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  float: right;
}
a.button3:hover{
  background-color:darkorange;
}
a.button3:active{
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
@media all and (max-width:30em){
  a.button3{
    font-size: 4vw;
 }
}

a.buttonDisabled {
  filter: opacity(0.6);
	opacity: 60%;
}

/* Google Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

i.menuIcons {
  display: none;
}

#menu, #menuHolder {
  display: inline;
}

/* This page's adaptative layout */

@media all and (max-width: 30em) {
  #body {
    margin-top: 40px;
  }
  #insertPicture {
    width: 80vw;
    height: 45vw;
  }
  #insertSmallPicture, .smallPicture {
    width: 40vw;
    height: 40vw;
  }
  .closeSmallPic {
    width: 7vw;
    height: 6vw;
    font-size: 7vw;
    line-height: 7vw;
  }
  #addText2 {
    font-size: 4vw;
  }
  #camera2 {
    font-size: 13vw;
  }
  .infoTXT {
    font-size: 3.5vw;
  }
  a.button3 {
    margin-right: 6vw;
  }
  table {
    width: 85vw;
  }
  #progressbar>div {
    height: 4vw;
    border-radius: 10vw;
  }
  #progressInd {
    font-size: 3vw;
    line-height: 4vw;
  }
  #progressbar {
    padding: 3px;
  }
  #errorMessage {
    font-size: 3.5vw;
    display: block;
    width: 63vw;
    text-align: right;
    margin-top: 1.4vw;
  }
  .modal-content {
    margin: 0;
    padding: 30px;
    width: 85vw;
    min-width: 15em;
    border-radius: 0px;
    z-index: 100;
    margin-top: 60px;
    min-height: -webkit-fill-available;
  }
  .bodyItem {
    width: 90vw;
    min-width: 90vw;
    display: block;
  }
  .waitingToChoose {
    position: relative;
    text-align: left;
    transform: translate(0,0);
  }
  #scrollDiv.afterClick {
    height: 20vh;
  }
}

/* Mobile adjustments */

@media all and (max-width: 50em) {
  #menu {
    background-color: white;
    width: 60vw;
    height: 100vh;
    max-width: 16em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
    display: block;
    padding-left: 3vw;
    padding-top: 30px;
    position: absolute;
    left: -65vw;
    top: 0%;
    transition-duration: 0.3s;
    z-index: 101
  }
  #menu.show {
    left: 0%;
  }
  .menu {
    display: block;
  }
  #menuHolder {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -101;
    transition-duration: 0.3s;
    visibility: hidden;
  }
  #menuHolder.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    visibility: visible;
  }
  i.menuIcons {
    display: inline-block;
  }
}
