#profilePicture {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	filter: opacity(0);
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#profilePicture + label {
    cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  transition-duration: 0.3s;
}

#body {
  margin-top: 80px;
  margin-left: 5vw;
}

.unkTeamImg {
  width: 15vw;
  height: 15vw;
}

.unkTeamTxt {
  width: 30vw;
  text-align: center;
}

.teamSelectorTable {
  text-align: center;
}

.teamSelector {
  width: 16.667vw;
  padding-top: 12px;
  padding-bottom: 8px;
  border-radius: 4px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.teamSelector:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
}

td p {
  font-weight: bold;
}

.selImg {
  width: 10vw;
  height: 10vw;
}

#teamName {
  width: fit-content;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#profileImage {
  width: 8vw;
  height: 8vw;
  border-radius: 8px;
  background-image: url(../files/image/unknownUser.webp);
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  float: left;
  margin-right: 3%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

tr {
  display: block;
}

#userName {
  font-size: 2.5vw;
  font-weight: bold;
  display: block;
  margin: 0px;
}

#userEmail {
  font-size:  1vw;
  color: dimgray;
}

#verified {
  font-size: 1vw;
  color: hsla(122, 79%, 29%, 0.69);
}

#toVerify {
  font-size: 1.2vw;
  color: #d81313;
  cursor: pointer;
  text-decoration: underline;
}

#teamCard {
  text-shadow: 0 0 14px rgba(0,0,0,0.5);
}

#profileInfo {
  box-shadow: 0px 0px 0px white;
}

.teamName {
  font-size: 3vw;
  font-weight: bold;
  color: white;
}

.points {
  font-size: 1.8vw;
  color: #eeeeee;
}

table.teamTable {
  display: inline-block;
  vertical-align: top;
  margin-top: 3vw;
}

#teamImage {
  width: 15vw;
  height: 15vw;
  background-size: cover;
  background-position: center;
  background-image: url('../files/teams/unknown.webp');
  display: inline-block;
}

#activityList {
  color: white;
  padding: 1vw;
}

h2 {
  font-size: 2vw;
}

.done {
  color: lightgray;
  text-decoration: line-through;
  text-shadow: 0px 0px;
  list-style-type: circle;
}

.card {
  width: 40vw;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 16px;
  margin-right: 1vw;
  margin-bottom: 2vw;
  display: inline-block;
  transition-duration: 0.2s;
  vertical-align: top;
}

#header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
  padding-left: 5%;
  line-height: 60px;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 99;
}

#header.headerNoShadow {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  background-color: white;
}

.headerImage {
  height: 40px;
  vertical-align: middle;
}

#logo {
  font-weight: bold;
  margin-left: 0.5%
}

.menu {
  color: dimgray;
  margin-left: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.menu:hover {
  color: black;
}

.menuSelected {
  color: black;
  font-weight: 600;
}

.hide {
  display: none;
  position: fixed;
  top: -1000%;
}

/* team gradients */

.team0 {
  background: linear-gradient(to bottom right, #616161, #424242);
  color: white;
}
.team1 {
  background: linear-gradient(to bottom right, #007ec2, #005c8d);
}
.team2 {
  background: linear-gradient(to bottom right, #c53030, #9c2626);
}
.team3 {
  background: linear-gradient(to bottom right, #FFC107, #FFB300);
}
.team4 {
  background: linear-gradient(to bottom right, #00b862, #008547);
}
.team5 {
  background: linear-gradient(to bottom right, #8b14b3, #610d7b);
}
.team6 {
  background: linear-gradient(to bottom right, #666666, #4d4d4d);
}
.team7 {
  background: linear-gradient(to bottom right, #F57C00, #E65100);
}
.team8 {
  background: linear-gradient(to bottom right, #00b87e, #009969);
}
.team9 {
  background: linear-gradient(to bottom right, #e91e63, #C2185B);
}
.team10 {
  background: linear-gradient(to bottom right, #009ae8, #21649f);
}
.team11 {
  background: linear-gradient(to bottom right, #9b9900, #797c02);
}
.team12 {
  background: linear-gradient(to bottom right, #00a89b, #01796f);
}
.team13 {
  background: linear-gradient(to bottom right, #aaaaaa, #8a8a8a);
}
.team14 {
  background: linear-gradient(to bottom right, #1f3bb7, #122273);
}
.team15 {
  background: linear-gradient(to bottom right, #7a493e, #4d2c24);
}
.team16 {
  background: linear-gradient(to bottom right, #00c68c, #018862);
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 30px;
  width: 50vw; /* Could be more or less, depending on screen size */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Progress Bar */

#progressbar {
  background-color: orange;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
  margin-top: 12px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.18);
}

#progressbar>div {
  background-color: white;
  width: 40%;
  /* Adjust with JavaScript */
  height: 12px;
  border-radius: 10px;
  transition-duration: 0.2s;
}

#progressInd {
  font-size: xx-small;
  width: 100%;
  text-align: center;
  float: left;
  line-height: 12px;
  color: black;
  font-weight: bold;
}

/* Buttons */

a.button3, label.button3{
  display:inline-block;
  padding:0.3em 1.0em;
  margin:0.5em 0.25em 0.25em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:orange;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 80%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
a.button3:hover, label.button3:hover{
  background-color:darkorange;
}
a.button3:active, label.active{
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
@media all and (max-width:30em){
  a.button3, label.button3{
    display:block;
    margin:0.2em auto;
 }
}

/* Mobile configuration */

@media all and (max-width: 30em) {
  #profileImage, .unkTeamImg {
    min-width: 5em;
    min-height: 5em;
  }
  .unkTeamTxt {
    min-width: 15em;
  }
  #profileInfo {
    margin-top: 2vw;
  }
  #userName {
    font-size: 5vw;
  }
  #userEmail {
    font-size: 2.6vw;
  }
  #verified {
    font-size: 2.6vw;
  }
  #toVerify {
    font-size: 3vw;
  }
  .modal-content {
    margin: 0;
    padding: 30px;
    width: 86vw;
    min-width: 15em;
    border-radius: 0px;
    z-index: 100;
    margin-top: 60px;
    min-height: -webkit-fill-available;
  }
  .teamSelector {
    width: 30vw;
    min-width: 5em;
  }
  .selImg {
    width: 20vw;
    height: 20vw;
  }
  .card {
    width: 80vw;
    min-height: 33vh;
    display: block;
    margin-bottom: 5vw;
    position: absolute;
  }
  #teamImage {
    width: 30vw;
    height: 30vw;
  }
  .teamName {
    font-size: 8vw;
  }
  .points {
    font-size: 5.5vw;
  }
  #teamTable {
    margin-top: 4vw;
  }
  #teamCard {
    margin-top: 21em;
  }
  h2 {
    font-size: 8vw;
  }
}

/* Google Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

i.menuIcons {
  display: none;
}

#menu, #menuHolder {
  display: inline;
}

/* Mobile adjustments */

@media all and (max-width: 50em) {
  #menu {
    background-color: white;
    width: 60vw;
    height: 100vh;
    max-width: 16em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
    display: block;
    padding-left: 3vw;
    padding-top: 30px;
    position: absolute;
    left: -65vw;
    top: 0%;
    transition-duration: 0.3s;
  }
  #menu.show {
    left: 0%;
  }
  .menu {
    display: block;
  }
  #menuHolder {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -101;
    transition-duration: 0.3s;
    visibility: hidden;
  }
  #menuHolder.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    visibility: visible;
  }
  i.menuIcons {
    display: inline-block;
  }
}
